@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header,.footer {
  display: flex;
  
}

.header {
  margin-top: -20px;
  margin-left: -30px;
  padding: 20px;
}

.footer {
 margin-top: auto;
 margin-left: -30px;
 background-color: #eeeeee;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}
a {
  text-decoration: none;
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 4px;
}

img {
  width: 600px;
  margin: auto;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.input,.buttons {
  align-self: center;
}
